﻿
@{
    Layout = null;
}
@{ 
    var a = 5;
    var b = 10;

    var number = new List<int> { 1, 2, 3, 4, 5 };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .red{
            color : red;
        }
        .blue{
            color : blue;
        }
    </style>
</head>
<body>
    @{
        var cssColor = b % a == 0 ? "red" : "blue";
    }

    <div class="@cssColor">

        @a  @*html etikeltieri dışında oluşturulan değişkenler başında @ işareti ile html etiketlerin arasına yazılarak görüntüsü alınabilir *@
        <br />
        @b
        <br />

        @foreach (var numbers in number)
        {
            @numbers <br />
        }
        @for (int i = 0; i < 3; i++)
        {
            <text>Sümeyye </text> @* bir c# kodu içerisinde direk olarak <text> etiketini kullanarak ekrana çıktı alabiliriz *@
            @:Demir @*Ekrana çıktı almanın diğer bir kullanımı da @: kullanımıdır*@
        }
        @if (true)
        {
            var total = a + b;
            <div>@total</div>
        }
    </div>
</body>
</html>
