﻿@model MVCStock.Models.Entity.TBLMUSTERİLER
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("MusteriGuncelle", "Musteri", FormMethod.Post))
{
   <div class="form-group">
       @Html.LabelFor(m => m.MusteriId);
       @Html.TextBoxFor(m => m.MusteriId, new {@class="form-control"})
       <br />
       @Html.LabelFor(m => m.MusteriAd);
       @Html.TextBoxFor(m => m.MusteriAd, new { @class = "form-control" })
       <br />
       @Html.LabelFor(m => m.MusteriSoyad);
       @Html.TextBoxFor(m => m.MusteriSoyad, new { @class = "form-control" })


       <br />
       <div>
           <button class="btn btn-warning">
               Müşteri Güncelle
           </button>
       </div>
   </div>
}

