﻿@using MVCStock.Models.Entity;
@model List<TBLMUSTERİLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Müşeti Id</th>
        <th>Müşeti Ad</th>
        <th>Müşeti Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tbody>
        @foreach (var musteriler in Model)
        {
            <tr>
                <th>@musteriler.MusteriId</th>
                <td>@musteriler.MusteriAd</td>
                <td>@musteriler.MusteriSoyad</td>
                <td><a href="/Musteri/Sil/@musteriler.MusteriId" class="btn btn-danger">SİL</a> </td>
                <td><a href="/Musteri/Guncelle/@musteriler.MusteriId" class="btn btn-success ">GÜNCELLE</a> </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Musteri/YeniMusteri" class="btn btn-primary">Yeni Müşteri Ekle</a>
