﻿@model MVCStock.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@using (Html.BeginForm("UrunGuncelle","Urun",FormMethod.Post))
            {
                <div class="form-control">
                    @Html.LabelFor(m => m.UrunId)
                    @Html.TextBoxFor(m => m.UrunId, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(m => m.UrunAd)
                    @Html.TextBoxFor(m => m.UrunAd, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(m => m.Marka)
                    @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(m => m.UrunKategory)
                    @Html.DropDownListFor(m => m.TBLKATEGORILER.KategoryId, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control"})
                    
                    @* @Html.TextBoxFor(m => m.UrunKategory, new { @class = "form-control" })*@
                    <br />
                    @Html.LabelFor(m => m.Fiyat)
                    @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })
                    <br />
                    @Html.LabelFor(m => m.Stok)
                    @Html.TextBoxFor(m => m.Stok, new { @class = "form-control" })
                    <br />

                    <div>
                        <button class="btn btn-warning">Ürün Güncelle</button>
                    </div>
                </div>
            }

