﻿@using MVCStock.Models.Entity;;
@model List<TBLURUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Ürün Id</th>
        <th>Ürün Ad</th>
        <th>Marka</th>
        <th>Ürün Kategori</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.UrunId</td>
                <td>@urun.UrunAd</td>
                <td>@urun.Marka</td>
                <td>@urun.UrunKategory</td>
                <td>@urun.Fiyat</td>
                <td>@urun.Stok</td>
                <td><a href="/Urun/Sil/@urun.UrunId" class="btn btn-danger">SİL</a> </td>
                <td><a href="/Urun/Guncelle/@urun.UrunId" class="btn btn-success ">GÜNCELLE</a> </td>
            </tr>
        }
    </tbody>

</table>
<a href="/Urun/YeniUrun" class="btn btn-primary">Yeni Ürün Ekle</a>
