﻿@model MVCStock.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="UrunAd" />
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka" />
        <div>
            <label>Ürün Kategori</label>
           @Html.DropDownListFor(m=>m.TBLKATEGORILER.KategoryId,(List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
        </div>
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Fiyat" />
        <div>
            <label>Stok</label>
            <input type="text" class="form-control" name="Stok" />
        </div>
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>

