﻿@model MVCStock.Models.Entity.TBLKATEGORILER
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
                <div class="form-group">
                    @Html.LabelFor(m => m.KategoryId),
                    @Html.TextBoxFor(m => m.KategoryId, new {@class = "form-control"})
                    <br />

                    @Html.LabelFor(m => m.KategoryAd);
                    @Html.TextBoxFor(m => m.KategoryAd, new {@class = "form-control"})
                </div>
                <div>
                    <button class="btn btn-warning">Kategori Güncelle</button>
                </div>
}


