﻿@using MVCStock.Models.Entity;
@model List<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori ADI</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var ktgr in Model)
        {
            <tr>
                <th>@ktgr.KategoryId</th>
                <td>@ktgr.KategoryAd</td>
                <td><a href="/Kategori/Sil/@ktgr.KategoryId" class="btn btn-danger">SİL</a> </td>
                <td><a href="/Kategori/Guncelle/@ktgr.KategoryId" class="btn btn-success ">GÜNCELLE</a> </td>
            </tr>

        }
    </tbody>
</table>

<a href="/Kategori/YeniKategori" class="btn btn-primary">Yeni Kategori Ekle</a>

